/* app css stylesheet */

.container {
  width: 80%;
}

.node {
  fill: #000;
}

.link {
  stroke: #999;
}

.newLink {
  stroke: #F00;
  stroke-width: 5px;
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point
{
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-width: 5px;
}